@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');
@import url('style.css');
@import url('https://fonts.googleapis.com/css2?family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&display=swap');

:root {
    --color-primary-1: #C40C0C;
    --color-primary-2: #FF6500;
    --color-primary-3: #FF8A08;
    --color-primary-4: #FFC100;
    --color-primary-5: #200E3A;
    --color-primary-6: #38419D;
    --color-neutral-0: #ffffff;
    --color-neutral-1: #1d1d1d;

}

body {
    background-color: #130329;
}

header {
    width: 84%;
    padding: 28px 8%;
    position: sticky;
    top: 0;
    background-color: var(--color-primary-1);
    z-index: 3;
    border-radius: 10px;
    box-shadow: 0px 0px 24px 8px rgba(0, 0, 0, 0.5);
}

#navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav_logo {
    font-size: 50px;
    color: #FF9800;
}

#nav_list {
    display: flex;
    list-style: none;
    gap: 48px;
    font-size: 20pt;
    font-family: Arial, Helvetica, sans-serif;
}

.nav-item a {
    text-decoration: none;
    color: #580606;
    font-weight: 900;
}

#mobile_menu {
    display: none;
}

@media screen and (max-width: 1170px) {

    #na_list,
    #navbar .btn-default {
        display: none;
    }


    #mobile_btn {
        display: block;
        border: none;
        background-color: transparent;
        font-size: 1.5rem;
        cursor: pointer;
    }

    #mobile_menu.active {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #mobile_nav_list {
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin: 12px 0px;
    }

    #mobile_nav_list .nav-item {
        list-style: none;
        text-align: center;
    }
}

main {
    background-color: var(--color-primary-2);
    border: solid 10px var(--color-primary-1);
    width: 1275px;
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 24px 8px rgba(0, 0, 0, 0.5);
}

h1 {
    text-align: center;
    font-size: 50pt;
    font-family: "Play", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: white;
    background-color: #200E3A;
    border: solid 10px #38419D;
    border-radius: 20px;
}

#left,
#right {
    width: 1200px;
    height: 650px;
    padding: 10px;
    background-color: var(--color-primary-2);
}

#left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#right {
    background-color: var(--color-primary-2)
}

#left p {
    margin-top: -10px;
    text-align: justify;
    text-indent: 10px;
    font-size: 15pt;
    font-family: "Radio Canada Big", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

#left h2 {
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 50pt;
    color: #FFC100;
    background-color: black;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 100px;
}

#right img {
    margin-top: 70px;
    border: solid var(--color-primary-1) 10px;
}

#intro {
    background-color: var(--color-primary-2);
    width: 1275px;
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#dragonball {
    background-color: var(--color-primary-2);
    border: solid 10px var(--color-primary-1);
    width: 1275px;
    margin: 30px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 24px 8px rgba(0, 0, 0, 0.5);
}

#middle {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    position: relative;
}

#middle #logodb {
    margin: 35px;
}

#middle h2 {
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 43pt;
    color: #FFC100;
    background-color: black;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 100px;
}

#middle p {
    margin-top: -20px;
    text-align: justify;
    text-indent: 20px;
    font-family: "Radio Canada Big", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    padding: 10px;
    font-size: 20pt;
}

#middle #goku {
    border: solid var(--color-primary-1) 10px;
    margin-bottom: 45px;
}

#videos {
    background-color: var(--color-primary-2);
    border: solid 10px var(--color-primary-1);
    width: 1275px;
    margin: 30px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 24px 8px rgba(0, 0, 0, 0.5);
}

#near-end {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    position: relative;
}

#near-end h2 {
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 43pt;
    color: #FFC100;
    background-color: black;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 100px;
}

#near-end p {
    margin-top: -20px;
    text-align: justify;
    text-indent: 20px;
    padding: 10px;
    font-size: 20pt;
    font-family: "Radio Canada Big", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
}

#near-end video {
    border: solid var(--color-primary-1) 10px;
    margin-bottom: 45px;
}

footer {
    width: 84%;
    padding: 10px 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    z-index: 3;
    border-radius: 10px;
}

footer h3 {
    font-size: 15pt;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 10px;
    margin-left: 20px;
    background-color: var(--color-primary-5);
    border-radius: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 11px;
    padding-right: 11px;
    border: solid var(--color-primary-6) 7px;
    color: var(--color-neutral-0);
    box-shadow: 0px 0px 24px 8px rgba(0, 0, 0, 0.5);
}

footer #autor {
    font-size: 20pt;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: -110px;
}

footer li {
    list-style: none;
}

h3 p {
    font-size: 12pt;
}

h3 a {
    color: var(--color-neutral-0);
}

footer #profile {
    font-size: 20pt;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: -110px;
}